.header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    perspective: 1000px;
    margin-bottom: 10vw;
    z-index: 2;

    .header__title{
      font-family: "Gallery Modern";
      font-weight: normal;
      font-size: 7vw;
      font-weight: 7.4vw;
      color:#FFF;
      z-index: 4;
      margin-bottom: 0;
      pointer-events: none;

        span{
            font-family: inherit;
            display: block;
            z-index: 1;

        }
    }

    .header__subtitle{
        z-index: 1;
        font-size: 1.3vw;
        line-height: 2vw;
        color:#FFF;
        text-align: left;
        letter-spacing: 0.3vw;
        transform: translateX(-8vw);
        font-weight: 800;
        pointer-events: none;
    }

    .header__decor-circle{
        position: absolute;
        border: 1px solid #FFF;
        border-radius: 50%;
        width: 23vw;
        height: 23vw;
        top: 45vh;
        left: 27vw;
        opacity: 0.4;
        pointer-events: none;
    }

    .header__gallery-image{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        pointer-events: none;
        overflow: hidden;

        img{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(1.5);
            object-fit: cover;
            object-position: 50% 50% ;
            pointer-events: none;
            z-index: 2;
            opacity: 0.8;
        }

    }


    .header__gallery-image--l{
        width: 18vw;
        padding-bottom: 26vh;

    }
    .header__gallery-image--m{
        width: 18vw;
        padding-bottom: 26.55vh;

    }
    .header__gallery-image--s{
        width: 16vw;
        padding-bottom: 25vh;

    }

    .header__gallery-left{
        .header__gallery-image{
            z-index: 1;

            &:nth-child(1){
                top: 17vh;
                left: 15vw;
                z-index: 1;
            }

            &:nth-child(2){
                top: 30vh;
                left: 6vw;
                z-index: 2;
            }

            &:nth-child(3){
                top: 52vh;
                left: 14vw;
                z-index: 1;
            }
        }

    }
    .header__gallery-right{
        .header__gallery-image{
            z-index: 1;

            &:nth-child(1){
                top: 15vh;
                left: auto;
                right: 15vw;
                z-index: 1;
            }

            &:nth-child(2){
                top: 27vh;
                left: auto;
                right: 6vw;
                z-index: 2;
            }

            &:nth-child(3){
                top: 48vh;
                left: auto;
                right: 14vw;
                z-index: 1;
            }
        }

    }
}